CI4R.m
Aula23/Inversa3R(planar).pdf
Aula23/Inversa3R.pdf
Inversa4R.pdf
Aula2/DiagramasCinematicos/
RI_2026_2.xlsx
Aula3/2.svg
Aula4/1.svg
Aula4/Aula4.m
Aula4/Ejercicio 2 (sistema fijo).png
Aula4/RotarX.m
Aula4/RotarY.m
Aula4/RotarZ.m
Aula5/PIC_Matlab/
Parciales/
Proyecto/
Talleres/